<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuretru.web.libra.ledger.mapper.DashboardMapper">

    <resultMap id="DashboardBO" type="com.kuretru.web.libra.ledger.entity.business.DashboardBO">
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="day" column="day"/>
        <result property="ledgerId" column="ledger_id"/>
        <result property="categoryIdL1" column="category_id_l1"/>
        <result property="categoryIdL2" column="category_id_l2"/>
        <result property="type" column="type"/>
        <result property="username" column="username"/>
        <result property="tagId" column="tag_id"/>
        <result property="sum" column="sum"/>
    </resultMap>

    <select id="sum" resultMap="DashboardBO">
        SELECT
        <foreach collection="selectColumns" item="column" separator="," close=",">
            ${column}
        </foreach>
        ${sum}
        FROM
        ledger_v2_entry entry
        LEFT JOIN ledger_v2_entry_detail detail ON entry.id = detail.entry_id
        LEFT JOIN ledger_v2_entry_tag tag ON entry.id = tag.entry_id
        ${ew.customSqlSegment}
        GROUP BY
        <foreach collection="groupByColumns" item="column" separator=",">
            ${column}
        </foreach>
    </select>

</mapper>
