<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuretru.web.libra.mapper.LedgerMapper">

    <select id="listPageBo" resultType="com.kuretru.web.libra.entity.business.LedgerBO">
        SELECT ledger.id,
               ledger.uuid,
               ledger.create_time,
               ledger.update_time,
               ledger.owner_id,
               ledger.`name`,
               ledger.type,
               ledger.remark,
               `user`.nickname AS owner_nickname,
               `user`.avatar   AS owner_avatar
        FROM `ledger`
                 LEFT JOIN `user` ON ledger.owner_id = `user`.uuid
                 LEFT JOIN ledger_member ON ledger.uuid = ledger_member.ledger_id
            ${ew.customSqlSegment}
    </select>

</mapper>
